main h2 {
    margin-top: 1em;
}

section div {
    width: 80%;
    margin: 1em auto;
}

.map-location iframe {
    margin: 1em 0;
}
.mission {
    background: #bbb;
    padding: 1em;
}
.video {
    padding:47% 0 0 0;
    position:relative;
}