.main-contact {
    margin: 0 auto;
    font-size: 1em;
}

.form-contact {
    margin: 40px 0;
}

.entry-label {
    display: block;
    margin: 8px auto;
    width: 50%;
}

.entry, .form-contact textarea {
    display: block;
    margin: 0 auto 25px;
    padding: 4px 9px;
    width: 50%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    font-family: inherit;
    font-size: 1em;
}

#checkbox, .div-entry {
    margin: 30px auto;
}

.SendForm {
    padding: 12px;
}

.SendForm:hover {
    transition: 0.5s all;
    cursor: pointer;
    transform: scale(1.05);
}