.banner {
    width: 100%;
}
.about {
    background-color: white;
    padding: 30px;
}

.div-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div-wrapper div {
    width: 35%;
    text-align: justify;
}

.map {
    margin: 20px auto 20px;
    display: block;
    filter: grayscale(75%);
    max-width: 70%;
}
.lists {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    margin: 0.5em auto;
    width: fit-content;
}

em strong {
    font-weight: bold;
}

.open-hours {
    background: #bbb;
    padding: 30px;
}

.grayscale {
    filter: grayscale(100%);
}

.open-hours table {
    font-size: inherit;
    width: 28%;
    margin: 1em;
}

.open-hours th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    background: #ccc;
}

.open-hours th, .open-hours td {
    border: 1px solid #000;
    padding: 8px 30px;
    vertical-align: middle;
}

.contact {
    padding: 30px;
}

.contact p {
    display: inline-block;
    margin: 0.5em;
    text-align: left;
    width: 350px;
}

#contact-link {
    margin-top: 3em;
    width: auto;
}