.products {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    list-style-type: none;
    flex-direction: row;
}

.items-products {
    width: 320px;
    text-align: center;
    vertical-align: top;
    border: solid #000 3px;
    margin: 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 10ms;
}

.items-products:hover {
    border-color: #bbb;
    border-width: 5px;
}

.items-products:hover h2{
    font-size: 32px;
}

.name-product {
    font-size: 30px;
    font-weight: bold;
}

.description{
    font-size: 18px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width:650px) {
    .products {
        flex-direction: column;
        width: auto;
        padding: 0;
        transform: scale(0.5);
        height: 700px;
    }
    .items-products {
        width: 300px;
        ;
    }    
}
